In [1]:
if True:
    print("True")

True

In [4]:
if False:
    print("False")

In [5]:
if 1 < 3:
    print("1이 3보다 작다")

1이 3보다 작다

In [6]:
a = 12
b = 11

if a < b:
    print("a({a})가 b({b})보다 작다".format(a = a, b = b))
else:
    print("a({a})가 b({b})보다 크다".format(a = a, b = b))

a(12)가 b(11)보다 크다

In [7]:
a = 89
if a >= 90:
    print("A")
elif a>= 60:
    print("B")
else:
    print("C")

B

In [8]:
age = 20

while age <30:
    print("20대입니다. : 현재나이 :{age}".format(age = age))
    age += 1

20대입니다. : 현재나이 :20
20대입니다. : 현재나이 :21
20대입니다. : 현재나이 :22
20대입니다. : 현재나이 :23
20대입니다. : 현재나이 :24
20대입니다. : 현재나이 :25
20대입니다. : 현재나이 :26
20대입니다. : 현재나이 :27
20대입니다. : 현재나이 :28
20대입니다. : 현재나이 :29

In [2]:
a = range(10)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
for i in a:
    print("hello world {i}".format(i = i))

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [22]:
for i in range(5):
    star = ""
    for j in range(i+1):
        star += "*"
    print(star)

*
**
***
****
*****

In [36]:
star = ""
for i in range(5):
    star +=  "*"
    print star

*
**
***
****
*****

In [41]:
a = [5,4,3,2,1]
for i in a:
    print("*" * (i))

*****
****
***
**
*

In [ ]:
-*- coding: utf8 -*-
import sys
reload(sys)
sys.setdefaultencoding('utf-8')