In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv')
df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

- column explanation

survived : 생존여부
pclass : 1,2,3등석
sex : 성별
age : 나이
sibsb : 같이 탑승한 형제, 배우자수
parch : 같이 탑승한 부모, 자녀의수
fare : 요금
embarked : 탑승한곳

In [28]:
df1 = df.ix[:,0:8]
df1.tail()  # 박사님께서 설명을 위해 뒷부분에 컬럼을 채워놓은 것같아서 who 부터 끝까지 잘랐습니다

     survived  pclass     sex   age  sibsp  parch   fare embarked
886         0       2    male  27.0      0      0  13.00        S
887         1       1  female  19.0      0      0  30.00        S
888         0       3  female   NaN      1      2  23.45        S
889         1       1    male  26.0      0      0  30.00        C
890         0       3    male  32.0      0      0   7.75        Q

In [34]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['sex']= le.fit_transform(df1['sex'])
df1['embarked'] = le.fit_transform(df1['embarked'])

In [44]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy = 'median', axis = 0)
df2 = imp.fit_transform(df1)
df2

array([[  0.    ,   3.    ,   1.    , ...,   0.    ,   7.25  ,   3.    ],
       [  1.    ,   1.    ,   0.    , ...,   0.    ,  71.2833,   1.    ],
       [  1.    ,   3.    ,   0.    , ...,   0.    ,   7.925 ,   3.    ],
       ...,
       [  0.    ,   3.    ,   0.    , ...,   2.    ,  23.45  ,   3.    ],
       [  1.    ,   1.    ,   1.    , ...,   0.    ,  30.    ,   1.    ],
       [  0.    ,   3.    ,   1.    , ...,   0.    ,   7.75  ,   2.    ]])

In [47]:
df3 = pd.DataFrame(df2, columns = ['survived', 'pclass','sex','age','sibsp','parch','fare','embarked'])
df3.tail()

     survived  pclass  sex   age  sibsp  parch   fare  embarked
886       0.0     2.0  1.0  27.0    0.0    0.0  13.00       3.0
887       1.0     1.0  0.0  19.0    0.0    0.0  30.00       3.0
888       0.0     3.0  0.0  28.0    1.0    2.0  23.45       3.0
889       1.0     1.0  1.0  26.0    0.0    0.0  30.00       1.0
890       0.0     3.0  1.0  32.0    0.0    0.0   7.75       2.0

In [56]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
survived    891 non-null float64
pclass      891 non-null float64
sex         891 non-null float64
age         891 non-null float64
sibsp       891 non-null float64
parch       891 non-null float64
fare        891 non-null float64
embarked    891 non-null float64
dtypes: float64(8)
memory usage: 55.7 KB

In [58]:
y = df3.ix[:,0]
x = df3.ix[:,1:]

In [60]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
qda = QuadraticDiscriminantAnalysis().fit(x,y)

In [62]:
qda.means_

array([[  2.53187614,   0.85245902,  30.02823315,   0.55373406,
          0.32969035,  22.11788689,   2.64116576],
       [  1.9502924 ,   0.31871345,  28.29143275,   0.47368421,
          0.46491228,  48.3954076 ,   2.35087719]])

In [54]:
from sklearn.naive_bayes import GaussianNB
clf_norm = GaussianNB().fit(x,y)

ValueError: could not convert string to float: no